.base {
  min-height: 200px;
  text-align: center;
}

.base input, .base td, .base th {
  text-align: inherit;
  outline: none;
  border: none;
  background: transparent;
}

tbody tr:last-child {
  border-top: 2px solid black;
}

tbody tr:first-child {
  border-bottom: 2px solid black;
}

tr td:last-child {
  border-left: 2px solid black;
}

tr th:last-child {
  border-left: 2px solid black;
}

tr th:first-child {
  border-right: 2px solid black;
}

table input{
  width: 100% !important;
}

.error {
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}

/* Desktops */
@media only screen and (min-width: 1224px) {
  .base input, .base td, .base th {
    width: 75px;
    font-size: 1.5rem;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 400px) {
  .base input, .base td, .base th {
    width: 20px;
    font-size: 0.7rem;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width: 700px) {
  .base input, .base td, .base th {
    width: 20px;
    font-size: 0.7rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .base input, .base td, .base th {
    width: 45px;
    font-size: 1.3rem;
  }
}

.addButton{
  color: white;
  font-weight: bolder;
  background-color: green !important;
  opacity: 0.7;
}
