.input-group{
  background-color: green;
  color: red;
  width: 50px;
}

.delete {
  margin-left: 5px;
  font-weight: bold;
  background-color: red;
  width: 30px;
} 

li{
  list-style-type: none;
  padding: 1px;
}
li button{
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
}