.centerParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainButton {
  width: 120px;
}

table,
td,
th {
  text-align: center;
  background-color: lightblue;
}

table {
  position: absolute;
  top: 5%;
  left: 5%;
  border-collapse: collapse;
}

table td {
  width: 55px;
  height: 40px;
}

table input {
  width: 55px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
}

.tdBold {
  width: 40px;
  font-weight: bold;
  background-color: lightgrey;
}

.buttonAdd {
  background-color: lightgreen;
  font-weight: bold;
  font-size: 25px;
  width: 50px;
}