.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centerParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainButton {
  width: 120px;
}

.buttonNext{
  position: absolute;
  font-size: 25px;
  right: 50px;
  bottom: 50px;
}

table,
td,
th {
  /* background-color: rgb(93, 145, 206); */
  padding: 2px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

table td {
  width: 75px;
  height: 40px;
}

table input {
  width: 75px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.tdBold {
  width: 75px;
  font-weight: bold;
}

.tdX{
  /* background-color: rgb(233, 230, 230); */
}
.tdY{
  /* background-color: rgb(233, 230, 230); */
}
.tdXY{
  background-color: rgba(28, 196, 247, 0.473);
}

.buttonAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 253, 52);
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  height: 100%;
}
