/** @format */

.base {
  height: 100vh;
  width: 100%;
  background-image: 
    url('../../assets/images/background2.jpg');
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.base > main {
  flex: 1;
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
}

/* Desktops */
@media only screen and (min-width: 1224px) {
  .base > main {
    width: 60%;
    margin: 30px auto 0px auto;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 400px) {
  .base > main {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .base > main {
    width: 90%;
    margin: auto;
  }
}

.base > footer {
  height: 56px;
}
