.base {
  min-height: 200px;
  text-align: center;
}

.row input, .row td, .row th, .row .addButton {
  text-align: inherit;
  outline: none;
  border: none;
  background: transparent;
  padding: 0 !important;
}

.row:last-child {
  border-top: 2px solid black;
}

.row:first-child {
  border-bottom: 2px solid black;
}

.row td:last-child, .row th:last-child {
  border-left: 2px solid black;
  position: relative;
}

.row th:first-child {
  border-right: 2px solid black;
}

.addButton:hover {
  background: rgba(0,0,0,.4);
}

.error {
  background: rgba(255, 0, 0, 0.479) !important;
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}

.error input {
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}


/* Desktops */
@media only screen and (min-width: 1224px) {
  .base input, .base td, .base th {
    width: 75px;
    font-size: 1.5rem;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 400px) {
  .base input, .base td, .base th {
    width: 20px;
    font-size: 0.7rem;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width: 700px) {
  .base input, .base td, .base th {
    width: 20px;
    font-size: 0.7rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .base input, .base td, .base th {
    width: 45px;
    font-size: 1.3rem;
  }
}


