.base {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 2;
}

.base div {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.noContent {
  margin: auto;
  font-size: 3rem;
  text-align: center;
  height: 300px;
  width:100%;
  vertical-align: middle;
}